body {
    margin: 0 auto;
}

#header__container {
    color: white;
    background-color: black;
    display: flex;
  
}

#date__container {
    padding-left: 2rem;
}


#header__menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 50%;

li {
   padding: 1rem;

   a {
    text-decoration: none;
    color: white;
    &:visited {
        text-decoration: none;
    }
   }

    
}
}



  
