body {
    margin: 0 auto;
}

#header__container {
    background-color: black;
    color: white;
    display: flex;
    padding: 1rem;

    
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    margin-top: auto;
}
    li {
        display: inline-block;
        text-decoration: none;
        margin: 0 1rem;

        &:visited {
            text-decoration: none;
        }

        a {
            text-decoration: none;
        }

        
    }